<br>
<div style="width: 500px; height: 600px ; border: 1px solid; margin-left: 500px; border-color: rgb(192, 191, 191);">
   <div class="col">
      <form role="form" style="padding: 20px">
         <div class="container">
            <img class="img-fluid" style="margin: 0 auto;" src="https://firebasestorage.googleapis.com/v0/b/metube-4522c.appspot.com/o/Fondo.PNG?alt=media&token=ee4d085a-0bcb-4dce-bddd-d2a83b969fd5"/>
         </div>
         <h3 style="text-align: center;"><small><em>Construye tu propia realidad</em></small></h3>
         <hr class="colorgraph">
        
        
         <div class="form-group">
            <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email" tabindex="5">
         </div>
         <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
               <div class="form-group">
                  <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Contraseña" tabindex="6">
               </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
               <div class="form-group">
                  <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirma tu contraseña" tabindex="7">
               </div>
            </div>
         </div>
       
         <hr class="colorgraph">
         <div class="form-group" style="text-align: center;" >
            <button (click)="tryLogin()" type="button" class="btn btn-info" style=" width: 250px; height: 40px;" tabindex="7">Iniciar</button>
         </div>
      </form>
   </div>
</div>